{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      {% if user.is_student %}
      <li class="breadcrumb-item"><a href="{% url 'enrolled_course_list'  %}">Course list</a></li>
      {% else %}
    <li class="breadcrumb-item"><a href="{% url 'course_list' %}">Course list</a></li>
      {% endif %}
      <li class="breadcrumb-item"><a href="{% url 'lecture_detail' lecture.pk %}">lecture detail</a></li>
      <li class="breadcrumb-item active" aria-current="page">lecture create </li>
    </ol>
  </nav>

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="alert alert-danger" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {%else %}
          <div class="alert alert-{{ message.tags }}" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {% endif %}
    {% endfor %}

<h2>New Lecture</h2>
<form method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form | crispy }}
    <button type="submit">Save</button>
</form>
{% endblock content %}
