
{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- <style>
  .form-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  background: -o-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #303f9f);
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  /* border-radius: 2px; box-shadow: 5px 5px 10px 10px rgb(161, 161, 173); */
  i {
    margin-right: 8px;
  }
}
.card{
  border-radius: 2px; box-shadow: 5px 5px 10px 10px rgb(161, 161, 173);

}
</style> -->

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="alert alert-danger" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {%else %}
          <div class="alert alert-{{ message.tags }}" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {% endif %}
    {% endfor %}
{% endif %}

<form action="{% url "login" %}" method="post" >
  {% csrf_token %}
  
  <div class="col-md-4 mx-auto mt-5">
    <div class="card">
      <div class="form-title">
        <i class="fas fa-lock me-2"></i>
        Sign in
      </div>
      <div class="card-body">
          <form action="" method="POST" id="login-form">{% csrf_token %}
            <div class="form-group mb-3">
                <label class="mb-2" for="username_id"><i class="fas fa-address-card me-2"></i>ID Number</label>
                <input type="text" name="username" id="username_id" class="form-control" required>
                <div id="message-wrapper"></div>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2" for="password_id"><i class="fas fa-key me-2"></i>Password</label>
                <input type="password" name="password" id="password_id" class="form-control" required>
            </div>
            {% if form.errors %}
                  <span class="text-danger"><i class="fas fa-exclamation-circle"></i> Invalid ID & Password.</span><br>
            {% endif %}
        
            <button type="submit" class="btn btn-primary" id="login-btn"><i class="fas fa-sign-in-alt"></i><small> SIGN IN</small></button>
          </form>
          <br>
          <div class="login-bottom">
            <a href="{% url 'password_reset' %}" class="link">Forgot password ?</a>
          </div>
        </div>
    </div>
  </div>
</form>





{% endblock content %}