{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
 h1, p{
    color: #ff0000;
 }
</style>

    <h1>Confirm Delete Discussion</h1>
    <p> Are your want delete <strong>"{{ discussion.title }}"</strong> discussion?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Discussion</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'discussion_detail' discussion.pk %}'">Cancel</button>
    </form>

    
{% endblock %}