{% extends "../base.html" %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #333;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 10px 0;
  }
</style>
  <h1>Discussions</h1>
  <ul>
    {% for discussion in discussions %}
      <li>
        <a href="{% url 'discussion_detail' discussion.pk %}">{{ discussion.title }}</a>
        by {{ discussion.starter.username }} on {{ discussion.created_at }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
