{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashbroard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Semesters</li>
    </ol>
</nav>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h2>Semesters</h2>
{% if user.is_superuser or user.is_admin %}
            <div class="card-body">
                <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
        
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Semester</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form | crispy }}
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                      <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
{% endif %}
<br>
<br>

<ul class="list-group w-50 ">

    {% for semester in semesters %}
        <li class="list-group-item">Semester: 
            <a href="{% url 'semester_detail' semester.id %}">{{ semester.semester }}</a>
        </li>
    {% endfor %}

</ul>
{% endblock content %}
