{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Assignments{% endblock title %}
{% block head %}
    <!-- <style>
        .list-group-item{
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style> -->
{% endblock head %}
{% block content %}


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <l class="breadcrumb-item" ><a href="{% url 'assignment_list' %}">Assignments</a></l>
      <li class="breadcrumb-item active" aria-current="page">Assignment detail</li>
    </ol>
</nav>

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="alert alert-danger" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {%else %}
          <div class="alert alert-{{ message.tags }}" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {% endif %}
    {% endfor %}
{% endif %}

<h2>Assignment Detail</h2>

{% if user.is_superuser %}
<p> <a href="{% url 'assignment_edit' assignment.pk %}" class="btn btn-primary">assignment Edite</a></p>
{% endif %}
<br>
<hr>

<ul class="list-group">
    
            {% if assignment.due_date < today %}
            <li class="list-group-item" style="background-color: #f8d7da;">Assignments Title: {{ assignment.title }}</li>
            {% else %}
            <li class="list-group-item active">Assignments Title: {{ assignment.title }}</li>
            {% endif %}
  
            <li class="list-group-item">description: {{assignment.description | safe }}</li>
            <li class="list-group-item">Course: {{assignment.course.title}}</li>
            <li class="list-group-item">due date: {{assignment.due_date}}</li>
            {% if assignment.file %}
            <li class="list-group-item">file: <a href="{{assignment.file.url}}" download><i class="fas fa-download"></i></a></li>
            {% else %}
            <li class="list-group-item">file: no file</li>
            {% endif %}
            {% if user.is_admin or user.is_professor %}
            <li class="list-group-item">
                <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edite Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form | crispy }}
                        <a href="{% url 'assignment_detail' assignment.pk %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                    <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                </div>
                </div>
            </div>
            <a href="{% url 'assignment_delete' assignment.pk %}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
            </li>
            {% endif %}
            <br>
            <br>
            <hr>
            <br>    
            <br>
        </ul>

{% endblock content %}
