{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}examss{% endblock title %}
{% block head %}
    <!-- <style>
        .list-group-item{
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style> -->
{% endblock head %}
{% block content %}


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
 
      <li class="breadcrumb-item active" aria-current="page">Questions</li>
    </ol>
</nav>

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="alert alert-danger" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {%else %}
          <div class="alert alert-{{ message.tags }}" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {% endif %}
    {% endfor %}
{% endif %}

<h2>Questions</h2>
{% if user.is_admin or user.is_professor %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
        {{ form | crispy }}
            <a href="{% url 'question_list' %}" class="btn btn-secondary">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

{% endif %}

{% if user.is_superuser %}
<p> <a href="{% url 'exam_create'%}" class="btn btn-success">Exam create</a></p>
{% endif %}


<br>
<hr>

{% if questions_grouped_by_course %}
{% for course, questions in questions_grouped_by_course.items %}
<h3>{{ course.title }}</h3>
<ul class="list-group">
  {% if questions %}
  {% for question in questions %}    
  <li class="list-group-item active bg-light"><a href="{% url 'question_detail' question.pk %}"><i class="fa fa-info aria-hidden="true"></i></a></li>
    <li class="list-group-item">Course: {{question.course.title}}</li>
    <li class="list-group-item">question type: {{question.question_type}}</li>
    <li class="list-group-item">Question: {{question.question | safe }}</li>
    <li class="list-group-item">Marks: {{question.marks}}</li>
    {% endfor %}
    {% else %}
    <li class="list-group-item">No questions</li>
    {% endif %}
</ul>
{% endfor %}
{% else %}
<p>No questions</p>
{% endif %}

{% endblock content %}
