{% extends 'base.html' %}

{% block title %}Delete Assignment{% endblock title %}
{% block content %}

<style>
    h2, p {

         color: #ff0000;
     }
     
 </style>

<h2 >Delete Solution</h2>
<p>Are you sure you want to delete <strong> "{{ assignment_submission.assignment.title }}"? </strong>assignment solution</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, delete</button>
    <a href="{% url 'assignment_submission_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock content %}
