{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load class_name %}
{% block content %}

<style>
  body {
    background-color: #ffff;
  }
  .card {
  
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px #0d6efd;
    width: 15rem;
    height: 24rem;
  }
  .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .card .card-img-top{
    border-radius: 10px 10px 0 0;
  }
  .card-title a{
    color: #4405a8;
    text-decoration: none;
  }
  .card-title a:hover{
    color: #000;
    text-decoration: none;
  }
  .card-text{
    color: #000;
  }
  .list-group-item{
    color: #000;
  }
  .list-group-item:hover{
    color: #000;
  }
  .btn-primary{
    background-color: #091dce;
    border: none;
  }
  .btn-primary:hover{
    background-color: #000;
    border: none;
  }
  .btn-primary a{
    color: #ffff;
    text-decoration: none;
  }
  .btn-primary a:hover{
    color: #ffff;
    text-decoration: none;
  }
  .badge{
    background-color: #ffff;
    color: #000;
  }
  .badge:hover{
    background-color: #ffff;
    color: #000;
  }
</style>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
 
      <li class="breadcrumb-item active" aria-current="page">Resources</li>
    </ol>
</nav>

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="alert alert-danger" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {%else %}
          <div class="alert alert-{{ message.tags }}" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {% endif %}
    {% endfor %}
{% endif %}

<h2>Resources</h2>
{% if user.is_superuser %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Resource</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<div class="row">
{% for resource in resources %}
<div class="col-sm-3">
<div class="card m-4 border border-warning" style="width: 15rem;">
    
    {% if resource.resource_file %}

    {% if resource.resource_file.url|endswith:".jpg" or resource.resource_file.url|endswith:".jpeg" or resource.resource_file.url|endswith:".png" %}
    <img src="{{ resource.resource_file.url }}" alt="{{ resource.title }}" style="max-width: 100%; height: 200vh;">
      {% elif resource.resource_file.url|endswith:".pdf" or resource.resource_file.url|endswith:".docx" %}
          <iframe src="{{ resource.resource_file.url }}" style="width:100%; height:200vh;"></iframe>
      {% elif resource.resource_file.url|endswith:".mp4" or resource.resource_file.url|endswith:".webm" %}
          <video controls style="max-width: 100%; height: 200vh;">
              <source src="{{ resource.resource_file.url }}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
      {% else %}
          <p><a href="{{ resource.resource_file.url }}">View File</a></p>
      {% endif %}

    {% else %}
      <p>No file available</p>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'resource_detail' resource.pk %}">{{ resource.title }}<i class="fa fa-info-circle" aria-hidden="true"></i></a></h5>
      
    </div>
    <ul class="list-group list-group-flush">
      {% for lecture in resource.lecture.all %}
      <li class="list-group-item">Lecture: {{lecture}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
  {% endfor %}
</div>
{% endif %}

{% if user.is_admin %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create resource</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="row">
  {% for resource in resources %}
  <div class="col-sm-3">
    <div class="card m-4 border border-warning" style="width: 15rem;">
      {% if resource.resource_file %}

    {% if resource.resource_file.url|endswith:".jpg" or resource.resource_file.url|endswith:".jpeg" or resource.resource_file.url|endswith:".png" %}
    <img src="{{ resource.resource_file.url }}" alt="{{ resource.title }}" style="max-width: 100%; height: 40vh;">
      {% elif resource.resource_file.url|endswith:".pdf" or resource.resource_file.url|endswith:".docx" or resource.resource_file.url|endswith:".pptx" or resource.resource_file.url|endswith:"..xlsx" %}
          <iframe src="{{ resource.resource_file.url }}" style="width:100%; height:40vh;"></iframe>
      {% elif resource.resource_file.url|endswith:".mp4" or resource.resource_file.url|endswith:".webm" %}
          <video controls style="max-width: 100%; height: 40vh;">
              <source src="{{ resource.resource_file.url }}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
      {% else %}
          <p><a href="{{ resource.resource_file.url }}">View File</a></p>
      {% endif %}

    {% else %}
      <p>No file available</p>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'resource_detail' resource.pk %}">{{ resource.title }}<i class="fa fa-info-circle" aria-hidden="true"></i></a></h5>

    </div>
    <ul class="list-group list-group-flush border border-primary">
      {% for lecture in resource.lecture.all %}
      <li class="list-group-item border border-warning">Lecture: {{lecture}}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
    {% endfor %}
</div>

{% endif %}

{% if user.is_professor %}
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create resource</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="row">
  {% for resource in resources %}
  <div class="col-sm-3">
    <div class="card m-4 border border-warning" style="width: 15rem;">
      {% if resource.resource_file %}

    {% if resource.resource_file.url|endswith:".jpg" or resource.resource_file.url|endswith:".jpeg" or resource.resource_file.url|endswith:".png" %}
    <img src="{{ resource.resource_file.url }}" alt="{{ resource.title }}" style="max-width: 100%; height: 40vh;">
      {% elif resource.resource_file.url|endswith:".pdf" or resource.resource_file.url|endswith:".docx" %}
          <iframe src="{{ resource.resource_file.url }}" style="width:100%; height:40vh;"></iframe>
      {% elif resource.resource_file.url|endswith:".mp4" or resource.resource_file.url|endswith:".webm" %}
          <video controls style="max-width: 100%; height: 40vh;">
              <source src="{{ resource.resource_file.url }}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
      {% else %}
          <p><a href="{{ resource.resource_file.url }}">View File</a></p>
      {% endif %}

    {% else %}
      <p>No file available</p>
    {% endif %}
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'resource_detail' resource.pk %}">{{ resource.title }}<i class="fa fa-info-circle" aria-hidden="true"></i></a></h5>
        </div>
        <ul class="list-group list-group-flush border border-primary">
          {% for lecture in resource.lecture.all %}
      <li class="list-group-item">Lecture: {{lecture}}</li>
      {% endfor %}
        
        </ul>
      </div>
    </div>
      {% endfor %}
  </div>
{% endif %}

{% if user.is_student %}
<div class="row">
{% for resource in resources %}
<div class="col-sm-3">
<div class="card m-4 border border-warning" style="width: 15rem;">
  {% if resource.resource_file %}

  {% if resource.resource_file.url|endswith:".jpg" or resource.resource_file.url|endswith:".jpeg" or resource.resource_file.url|endswith:".png" %}
  <img src="{{ resource.resource_file.url }}" alt="{{ resource.title }}" style="max-width: 100%; height: 40vh;">
    {% elif resource.resource_file.url|endswith:".pdf" or resource.resource_file.url|endswith:".docx" %}
        <iframe src="{{ resource.resource_file.url }}" style="width:100%; height:40vh;"></iframe>
    {% elif resource.resource_file.url|endswith:".mp4" or resource.resource_file.url|endswith:".webm" %}
        <video controls style="max-width: 100%; height: 40vh;">
            <source src="{{ resource.resource_file.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% else %}
        <p><a href="{{ resource.resource_file.url }}">View File</a></p>
    {% endif %}

  {% else %}
    <p>No file available</p>
  {% endif %}
    <div class="card-body">
      <h5 class="card-title">Title: {{ resource.title }}</h5>
      <p class="card-text">description: {{resource.description}}</p>
    </div>
    <ul class="list-group list-group-flush border border-primary">
      {% for lecture in resource.lecture.all %}
      <li class="list-group-item">Lecture: {{lecture}}</li>
      {% endfor %}    </ul>
    <div class="card-body">
      
    </div>
</div>
</div>
 {% endfor %}
</div>
{% endif %}



{% endblock content %}
