{% load static %}

<style>
    .top-side {
        background-size: cover;
        background-position: top center;
    }
</style>

<div id="side-nav">
    <div class="main-menu">
        <div class="top-side text-center py-4" style="background-image: url({% static 'img/dotted.jpg' %});">
            <div class="desktop-hide">
                <div class="toggle-btn" onclick="toggleSidebar()">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'img/University_of_Hargeisa1.svg' %}" width="110px" alt="UDL logo">
            </a>
        </div>

        {% url 'home' as hom %}
        {% url 'dashboard' as dash %}
        {% url 'profile'  as prof %}
        {% url 'school_list'  as sl %}
        {% url 'profile_edit' user.profile.pk as prof_e %}
        {% url 'account' user.pk as prof_a %}
        {% url 'professor_list' as profs %}
        {% url 'student_list' as stu %}
        {% url 'course_list' as courses %}
        {% url 'semester_list' as sm %}
        {% url 'lecture_list' as lectures %}
        {% url 'assignment_list' as assignments %}
        {% url 'assignment_submission_list' as assignment_sub %}
        {% url 'exam_submission_list' as exam_sub %}
        {% url 'exam_list' as exams %}
        {% url 'resource_list' as resources %}
        {% url 'enrolled_course_list' as enrolled_courses %}
        {% url 'discussion_list' as discussions %}
        {% url 'comment_list' as comments %}
        {% url 'jitsi_meeting' as meetings %}
        {% url 'send_message' as messages %}
        {% url 'inbox' as inbox %}
        {% url 'professor_signup' as p_signup %}
        {% url 'student_sgnup' as s_signup %}
        {% url 'admin_sgnup' as a_signup %}

        <ul>
            {% if request.user.is_superuser %}
            <li class="{% if request.path == dash %}active{% endif %}">
                <a href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>
     
            <li class="{% if request.path == prof %}active{% endif %}">
                <a href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a>
            </li>
            <li class="{% if request.path == sl %}active{% endif %}">
                <a href="{% url 'school_list' %}"><i class="fas fa-school"></i>Faculty</a>
            </li>
            <li class="{% if request.path == sm %}active{% endif %}">
                <a href="{% url 'semester_list' %}"><i class="fas fa-hourglass-start"></i>Semesters</a>
            </li>
            <li class="{% if request.path == admin_p %}active{% endif %}">
                <a href="{% url 'admin:index' %}"><i class="fas fa-user-tie"></i>Admin Panel</a>
            </li>
            <li class="{% if request.path == profs %}active{% endif %}">
                <a href="{% url 'professor_list' %}"><i class="fas fa-chalkboard-teacher"></i>Professors</a>
            </li>
            <li class="{% if request.path == stu %}active{% endif %}">
                <a href="{% url 'student_list' %}"><i class="fas fa-user-graduate"></i>Students</a>
            </li>
            <li class="{% if request.path == courses %}active{% endif %}">
                <a href="{% url 'course_list' %}"><i class="fas fa-book-open"></i>Courses</a>
            </li>
            <li class="{% if request.path == lectures %}active{% endif %}">
                <a href="{% url 'lecture_list' %}"><i class="fas fa-book-reader"></i>Lectures</a>
            </li>
            <li class="{% if request.path == assignments %}active{% endif %}">
                <a href="{% url 'assignment_list' %}"><i class="fas fa-tasks"></i>Assignments</a>
            </li>
            <li class="{% if request.path == exams %}active{% endif %}">
                <a href="{% url 'exam_list' %}"><i class="fas fa-clipboard-list"></i>Exams</a>
            </li>
            <li class="{% if request.path == resources %}active{% endif %}">
                <a href="{% url 'resource_list' %}"><i class="fas fa-folder-open"></i>Resources</a>
            </li>
            <li class="{% if request.path == discussions %}active{% endif %}">
                <a href="{% url 'discussion_list' %}"><i class="fas fa-comments"></i>Discussions</a>
            </li>

            <li class="{% if request.path == meetings %}active{% endif %}">
                <a href="{% url 'jitsi_meeting' %}"><i class="fas fa-video"></i>Zoom Meetings</a>
            </li>
            <li class="{% if request.path == messages %}active{% endif %}">
                <a href="{% url 'send_message' %}"><i class="fas fa-paper-plane"></i>Send</a>
            </li>
            <li class="{% if request.path == inbox %}active{% endif %}">
                <a href="{% url 'inbox' %}"><i class="fas fa-envelope-open" id="readed"></i> <i class="fas fa-envelope" id="unreaded" style="display: none ;"></i>Inbox</a>
            </li>
            {% endif %}

		
            {% if request.user.is_admin %}
            <li class="{% if request.path == dash %}active{% endif %}">
                <a href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>

            <li class="{% if request.path == prof %}active{% endif %}">
                <a href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a>
            </li>
            <li class="{% if request.path == sl %}active{% endif %}">
                <a href="{% url 'school_list' %}"><i class="fas fa-list-ol"></i>Faculty</a>
            </li>
            <li class="{% if request.path == sm %}active{% endif %}">
                <a href="{% url 'semester_list' %}"><i class="fas fa-hourglass-start"></i>Semesters</a>
            </li>
            <li class="{% if request.path == profs %}active{% endif %}">
                <a href="{% url 'professor_list' %}"><i class="fas fa-chalkboard-teacher"></i>Professors</a>
            </li>
            <li class="{% if request.path == stu %}active{% endif %}">
                <a href="{% url 'student_list' %}"><i class="fas fa-user-graduate"></i>Students</a>
            </li>
            <li class="{% if request.path == courses %}active{% endif %}">
                <a href="{% url 'course_list' %}"><i class="fas fa-book-open"></i>Courses</a>
            </li>
            <li class="{% if request.path == lectures %}active{% endif %}">
                <a href="{% url 'lecture_list' %}"><i class="fas fa-book-reader"></i>Lectures</a>
            </li>
            <li class="{% if request.path == assignments %}active{% endif %}">
                <a href="{% url 'assignment_list' %}"><i class="fas fa-tasks"></i>Assignments</a>
            </li>
            <li class="{% if request.path == exams %}active{% endif %}">
                <a href="{% url 'exam_list' %}"><i class="fas fa-clipboard-list"></i>Exams</a>
            </li>
            <li class="{% if request.path == resources %}active{% endif %}">
                <a href="{% url 'resource_list' %}"><i class="fas fa-folder-open"></i>Resources</a>
            </li>
            <li class="{% if request.path == discussions %}active{% endif %}">
                <a href="{% url 'discussion_list' %}"><i class="fas fa-comments"></i>Discussions</a>
            </li>
            <li class="{% if request.path == meetings %}active{% endif %}">
                <a href="{% url 'jitsi_meeting' %}"><i class="fas fa-video"></i>Zoom Meetings</a>
            </li>
            <li class="{% if request.path == messages %}active{% endif %}">
                <a href="{% url 'send_message' %}"><i class="fas fa-paper-plane"></i>Send</a>
            </li>
            <li class="{% if request.path == inbox %}active{% endif %}">
                <a href="{% url 'inbox' %}"><i class="fas fa-envelope-open" id="readed"></i> <i class="fas fa-envelope" id="unreaded" style="display: none ;"></i>Inbox</a>
            </li>
            {% endif %}

		
			
			{% if request.user.is_professor %}
            <li class="{% if request.path == dash %}active{% endif %}">
                <a href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>
            {% comment %}
            <li class="{% if request.path == hom %}active{% endif %}">
                <a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a>
            </li>
            {% endcomment %}
            <li class="{% if request.path == prof %}active{% endif %}">
                <a href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a>
            </li>
            <li class="{% if request.path == sl %}active{% endif %}">
                <a href="{% url 'school_list' %}"><i class="fas fa-school"></i>Faculty</a>
            </li>
			<li class="{% if request.path == courses %}active{% endif %}">
				<a href="{% url 'course_list' %}"><i class="fas fa-book-open"></i>My Courses</a>
			</li>
            <li class="{% if request.path == lectures %}active{% endif %}">
                <a href="{% url 'lecture_list' %}"><i class="fas fa-book-reader"></i>Lectures</a>
            </li>
            <li class="{% if request.path == assignments %}active{% endif %}">
                <a href="{% url 'assignment_list' %}"><i class="fas fa-tasks"></i>Assignments</a>
            </li>
            <li class="{% if request.path == exam_sub %}active{% endif %}">
                <a href="{% url 'exam_submission_list' %}"><i class="fas fa-clipboard-list"></i>exam submission</a>
            </li>
            <li class="{% if request.path == exams %}active{% endif %}">
                <a href="{% url 'exam_list' %}"><i class="fas fa-clipboard-list"></i>Exams</a>
            </li>
            <li class="{% if request.path == resources %}active{% endif %}">
                <a href="{% url 'resource_list' %}"><i class="fas fa-folder-open"></i>Resources</a>
            </li>
            <li class="{% if request.path == discussions %}active{% endif %}">
                <a href="{% url 'discussion_list' %}"><i class="fas fa-comments"></i>Discussions</a>
            </li>
       

            <li class="{% if request.path == meetings %}active{% endif %}">
                <a href="{% url 'jitsi_meeting' %}"><i class="fas fa-video"></i>Zoom Meetings</a>
            </li>
            <li class="{% if request.path == messages %}active{% endif %}">
                <a href="{% url 'send_message' %}"><i class="fas fa-paper-plane"></i>Send</a>
            </li>
            <li class="{% if request.path == inbox %}active{% endif %}">
                <a href="{% url 'inbox' %}"><i class="fas fa-envelope-open" id="readed"></i> <i class="fas fa-envelope" id="unreaded" style="display: none ;"></i>Inbox</a>
            </li>
			{% endif %}


            {% if request.user.is_student %}
            <li class="{% if request.path == dash %}active{% endif %}">
                <a href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>
            {% comment %}
            <li class="{% if request.path == hom %}active{% endif %}">
                <a href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a>
            </li>
            {% endcomment %}
            <li class="{% if request.path == prof %}active{% endif %}">
                <a href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a>
            </li>
            <li class="{% if request.path == sl %}active{% endif %}">
                <a href="{% url 'school_list' %}"><i class="fas fa-school"></i>Faculty</a>
            </li>
            <li class="{% if request.path == enrolled_courses %}active{% endif %}">
                <a href="{% url 'enrolled_course_list' %}"><i class="fas fa-book"></i>My Courses</a>
            </li>
            <li class="{% if request.path == courses %}active{% endif %}">
                <a href="{% url 'course_list' %}"><i class="fas fa-book-open"></i>Courses</a>
            </li>
            <li class="{% if request.path == assignments %}active{% endif %}">
                <a href="{% url 'assignment_list' %}"><i class="fas fa-tasks"></i>Assignments</a>
            </li>
            <li class="{% if request.path == assignment_sub %}active{% endif %}">
                <a href="{% url 'assignment_submission_list' %}"><i class="fas fa-tasks"></i>Assignments submitted list</a>
            </li>

            <li class="{% if request.path == exams %}active{% endif %}">
                <a href="{% url 'exam_list' %}"><i class="fas fa-clipboard-list"></i>Exams</a>
            </li>
         
            <li class="{% if request.path == discussions %}active{% endif %}">
                <a href="{% url 'discussion_list' %}"><i class="fas fa-comments"></i>Discussions</a>
            </li>

            <li class="{% if request.path == meetings %}active{% endif %}">
                <a href="{% url 'jitsi_meeting' %}"><i class="fas fa-video"></i>Zoom Meetings</a>
            </li>
            <li class="{% if request.path == messages %}active{% endif %}">
                <a href="{% url 'send_message' %}"><i class="fas fa-paper-plane"></i>Send</a>
            </li>
            <li class="{% if request.path == inbox %}active{% endif %}">
                <a href="{% url 'inbox' %}"><i class="fas fa-envelope-open" id="readed"></i> <i class="fas fa-envelope" id="unreaded" style="display: none ;"></i>Inbox</a>
            </li>
            {% endif %}
            <br />
            <p class="ml-3">&RightArrow; Others</p>

			{% if user.is_authenticated %}
			
            <li class="{% if request.path == prof_a %}active{% endif %}">
                <a href="{% url 'account' user.pk %}"><i class="fas fa-cogs"></i>Account Setting</a>
            </li>
            <li class="{% if request.path == prof_e %}active{% endif %}">
                <a href="{% url 'profile_edit' user.profile.pk %}"><i class="fas fa-user-edit"></i>Edit Profile</a>
            </li> 
            <li class="{% if request.path == cp %}active{% endif %}">
				<a href="{% url 'password_change' %}"><i class="fas fa-key"></i>Change Password</a>
            </li>
			<li>
				<a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</li>
            
            {% if user.is_admin %}
                
			<li  class="{% if request.path == p_signup %}active{% endif %}">
				<a href="{% url 'professor_signup' %}"><i class="fa fa-user-plus"></i>Create professor</a>
			</li>
			<li  class="{% if request.path == s_signup %}active{% endif %}">
				<a href="{% url 'student_signup' %}"><i class="fa fa-user-plus"></i>Create student</a>
			</li>
            {% endif %}
            {% if user.is_superuser %}
                
			<li  class="{% if request.path == p_signup %}active{% endif %}">
				<a href="{% url 'professor_signup' %}"><i class="fa fa-user-plus"></i>Create professor</a>
			</li>
			<li  class="{% if request.path == s_signup %}active{% endif %}">
				<a href="{% url 'student_signup' %}"><i class="fa fa-user-plus"></i>Create student</a>
			</li>
			<li  class="{% if request.path == a_signup %}active{% endif %}">
				<a href="{% url 'admin_signup' %}"><i class="fa fa-user-plus"></i>Create Admin</a>
			</li>
            {% endif %}
                
			
			{% endif %}
			
			{% if user.is_authenticated %}
			{% else %}
			<li class="{% if request.path == 'login' %}active{% endif %}">
				<a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a>
			</li>
			{% endif %}

			
        </ul>
    </div>

    <footer class="card-footer mt-5 pt-3 pb-5 px-2">
        <div class="col-12">
            <p class="small m-0">
                Read our <a href="#"> Privacy </a> and <a href="#"> Terms of use. </a>
                <br />UOH&copy; <script>document.write(new Date().getFullYear());</script>
                <br />
            </p>
            <a >University of Hargeisa
            </a>
        </div>
    </footer>
</div>

<script>
    // let readed = document.getElementById('readed');
    // let ureaded = document.getElementById('ureaded');
    // function checkUnreadAndReadMessages() {
    //     fetch('/messages/unread_count/')
    //         .then(response => response.json())
    //         .then(data => {
    //             if (data.unread_count > 0) {
    //                 readed.style.display = 'none';
    //                 ureaded.style.display = 'block';
    //             }
    //             else {
    //                 readed.style.display = 'block';
    //                 ureaded.style.display = 'none';
    //             }
    //         });
    // }
    // setInterval(checkUnreadAndReadMessages, 60000);  // Check every minute

   
</script>