{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Digital Learning</title>

  <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="{% static 'bootstrap-icons-1.11.3/font/bootstrap-icons.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon_io/favicon.ico' %}">  
  <link rel="stylesheet" href="{% sass_src 'scss/styles.scss' %}">
</head>
<body>
  {% block sidebar %}
        {% include 'aside.html' %}
    {% endblock %}

    {% block maincontent %}
    <div id="main">
        {% block topbar %}
            {% include 'navbar.html' %}
        {% endblock %}

        <button type="button" class="btn btn-primary position-relative" id="btn1" style="display: none;">
            <a href="{% url 'inbox' %}" style="color: #ffff;"> Inbox</a>
           
            <span id="unread-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ unread_count }}
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>

        <div class="container-fluid" id="main-content">
            {% block content %}{% endblock content %}
        </div>

    </div>
    {% endblock %}
   

    <script src="{% static 'bootstrap-5.0.2-dist/js/jquery-3.7.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/80d7ac95b2.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script>
        flatpickr(".datetimepicker", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
        });

        function checkUnreadMessages() {
            fetch('/messages/unread_count/')
                .then(response => response.json())
                .then(data => {
                    if (data.unread_count > 0){

                        document.getElementById('btn1').style.display = 'block';
                        unreaded = document.getElementById('unread-count').textContent =  data.unread_count;
                        console.log(unreaded);
                    }
                    else{
                        document.getElementById('btn1').style.display = 'none';
                    }
                });
        }

        setInterval(checkUnreadMessages, 60000);  // Check every minute

    </script>
    {% block extrascripts %}{% endblock extrascripts %}
</body>
</html>