{% extends 'base.html' %}
{% block title %} Dashboard | Learning management system {% endblock title %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <!-- <li class="breadcrumb-item"><a href="/">Home</a></li> -->
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>


    </ol>
</nav>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger">
	<i class="fas fa-exclamation-circle"></i>{{ message }}
</div>
{% else %}
<div class="alert alert-success">
	<i class="fas fa-check-circle"></i>{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

<style>
	.chart-wrap {
		position: relative;
		padding: 1rem;
		transition: .5s;
		background-color: #fff;
		border-radius: 10px;
	}

	.fa-expand-alt {
		display: none;
		position: absolute;
		top: .5rem;
		right: .5rem;
		padding: .5rem;
		cursor: pointer;
		transition: .3s;
	}

	.fa-expand-alt:hover {
		background-color: #f1f1f1;
	}

	.chart-wrap:hover {
		box-shadow: 0 0 0 1px inset #666;
	}

	.chart-wrap:hover .fa-expand-alt {
		display: block;
	}

	.expand {
		transform: translateY(100%);
		position: fixed;
		bottom: 0;
		top: 3rem;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 999;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		background-color: #fff;
		/* For Internet Explorer */
		box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5) !important;
		/* For other browsers */
		box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5) !important;
		transform-origin: bottom left;
		animation: popupAnim forwards alternate .5s ease-in-out;
		overflow: auto;
	}

	.expand .fa-expand-alt {
		display: block;
	}

	@keyframes popupAnim {
		from {
			transform: translateY(100%);
		}

		to {
			transform: translateY(0);
		}
	}

	.users-count .card-count {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
	}

	.users-count .card-count h2 {
		font-weight: 1000;
	}

	.users-count .card-count h3 {
		flex: 0 0 40%;
		border-right: 1px solid rgb(230, 230, 230);
	}

	.users-count .card-count h3 i {
		display: inline-flex;
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}

	.bg-light-aqua {
		background-color: rgba(32, 177, 177, 0.8) !important;
		box-shadow: 0 0 0 10px rgba(32, 177, 177, 0.2) !important;
		color: #fff !important;
	}

	.bg-light-orange {
		background-color: rgba(253, 174, 28, 0.8) !important;
		box-shadow: 0 0 0 10px rgba(253, 174, 28, 0.2) !important;
		color: #fff !important;
	}

	.bg-light-purple {
		background-color: rgba(203, 31, 255, 0.8) !important;
		box-shadow: 0 0 0 10px rgba(203, 31, 255, 0.2) !important;
		color: #fff !important;
	}

	.bg-light-red {
		background-color: rgba(255, 19, 157, 0.8) !important;
		box-shadow: 0 0 0 10px rgba(255, 19, 157, 0.2) !important;
		color: #fff !important;
	}

	.activities ul {
		padding-left: .5rem;
	}

	.activities ul li {
		list-style-type: disc;
	}
</style>

<div class="d-flex justify-content-between align-items-center mb-4">
	<h1 class="title-1">Dashboard</h1>
	{% if user.is_authenticated %}
	<li class="breadcrumb-item active" aria-current="page">Welcome {{ user.username }}</li>
	
	{% if user.is_student %}
	<li class="breadcrumb-item active" aria-current="page">Your Role is :Student</li>
	{% elif user.is_professor %}
	<li class="breadcrumb-item active" aria-current="page"> Your Role is: Professor</li>
	{% elif user.is_admin %}
	<li class="breadcrumb-item active" aria-current="page">Your Role is: Admin</li>
	{% endif %}
	{% endif %}

</div>

<div class="row users-count px-3">
	<div class="col-md-3 mb-3 px-2">
		<div class="card-count p-3">
			<h3><i class="fas fa-users bg-light-aqua"></i></h3>
			<div class="text-right">
				Students
				<h2>{{ count_students }}</h2>
			</div>
		</div>
	</div>
	<div class="col-md-3 mb-3 px-2">
		<div class="card-count p-3">
			<h3><i class="fas fa-users bg-light-orange"></i></h3>
			<div class="text-right">
				Lecture
				<h2>{{ count_lectures }}</h2>
			</div>
		</div>
	</div>
	<div class="col-md-3 mb-3 px-2">
		<div class="card-count p-3">
			<h3><i class="fas fa-users bg-light-red"></i></h3>
			<div class="text-right">
				Administrators
				<h2>{{ count_admins }}</h2>
			</div>
		</div>
	</div>
	<div class="col-md-3 mb-3 px-2">
		<div class="card-count p-3">
			<h3><i class="fas fa-users bg-light-purple"></i></h3>
			<div class="text-right">
				Prefessors
				<h2>{{ count_professors }}</h2>
			</div>
		</div>
	</div>
	<div class="col-md-3 mb-3 px-2">
		<div class="card-count p-3">
			<h3><i class="fas fa-users bg-light-red"></i></h3>
			<div class="text-right">
				Courses
				<h2>{{count_courses}}</h2>
			</div>
		</div>
	</div>
	<div class="col-md-3 mb-3 px-2">
		<div class="card-count p-3">
			<h3><i class="fas fa-users bg-light-purple"></i></h3>
			<div class="text-right">
				Faculty
				<h2>{{count_schools}}</h2>
			</div>
		</div>
	</div>
	<div class="col-md-3 mb-3 px-2">
		<div class="card-count p-3">
			<h3><i class="fas fa-users bg-light-orange"></i></h3>
			<div class="text-right pl-2">
				exams
				<h2>{{count_exams}}</h2>
			</div>
		</div>
	</div>
	<div class="col-md-3 mb-3 px-2">
		<div class="card-count p-3">
			<h3><i class="fas fa-users bg-light-aqua"></i></h3>
			<div class="text-right">
				Others
				<h2>0</h2>
			</div>
		</div>
	</div>
</div>


{% endblock %}