{% extends "../base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>University Digital Learning</title>
    </head>
    <body>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="width: 50%;  margin: auto;">
                    {{ message }}
                </div>
            {%else %}
                <div class="alert alert-{{ message.tags }}" style="width: 50%;  margin: auto;">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    
        {% if user.is_authenticated %}
            Hi {{ user.username }}! 
            {% if user.is_professor %}
            <p>your are a professor</p>


            {% elif user.is_student %}
             
            <p>your are a student</p>
           
        


            {% elif user.is_superuser %}
            <p>your are an superuser</p>


            {% elif user.is_admin %}
            <p>your are an Admin</p>
         
            {% else %}
            <p>your are a user</p>

                You are a user.
            {% endif %}
  
           
        {% endif %}

        <hr>
              
     
        
    </body>
    </html>
{% endblock content %}