<ul>
    {% for reply in comment.replies.all %}
      <li>
        <p>{{ reply.author.username }}: {{ reply.content }} on {{ reply.created_at }}</p>
        <a href="#" onclick="document.getElementById('reply-form-{{ reply.id }}').style.display='block';">Reply</a>
        <div id="reply-form-{{ reply.id }}" style="display:none;">
          <form method="post" action="{% url 'discussion_detail' discussion.pk %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="hidden" name="parent" value="{{ reply.id }}">
            <button type="submit" class="btn btn-secondary">Post Reply</button>
          </form>
        </div>
        {% include 'comments/comment_replies.html' with comment=reply %}
      </li>
    {% endfor %}
  </ul>
  