{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
  body {
    background-color: #ffff;
  }
  .card {
  
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px #0d6efd;
    width: 15rem;
    height: 35rem;
  }
  .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .card .card-img-top{
    border-radius: 10px 10px 0 0;
    height: 10rem;
  }
  .card-title a{
    color: #110486;
    text-decoration: none;
  }
  .card-title a:hover{
    color: #000;
    text-decoration: none;
  }
  .card-text{
    color: #000;
  }
  .list-group-item{
    color: #000;
  }
  .list-group-item:hover{
    color: #000;
  }
  .btn-primary{
    background-color: #091dce;
    border: none;
  }
  .btn-primary:hover{
    background-color: #000;
    border: none;
  }
  .btn-primary a{
    color: #ffff;
    text-decoration: none;
  }
  .btn-primary a:hover{
    color: #ffff;
    text-decoration: none;
  }
  .badge{
    background-color: #ffff;
    color: #3c06b9;
  }
  .badge:hover{
    background-color: #ffff;
    color: #000;
  }
</style>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
 
      <li class="breadcrumb-item active" aria-current="page">courses</li>
    </ol>
</nav>

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
          <div class="alert alert-danger" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {%else %}
          <div class="alert alert-{{ message.tags }}" style="width: 50%;  margin: auto;">
              {{ message }}
          </div>
      {% endif %}
    {% endfor %}
{% endif %}

<h2>Courses</h2>
{% if user.is_superuser %}

<a href="{% url 'course_create' %}"><i class="fa fa-plus" aria-hidden="true"></i></a>

<div class="row">
{% for course in courses %}
<div class="col-sm-3">
<div class="card m-4 border border-warning" >
  <button type="button" class="btn btn-primary position-relative w-50">
    Lectures
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      {{course.lectures.count}}
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
    <img src="{{course.image.url}}" class="card-img-top" alt="course image", width="50%", height="200vh">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'course_detail' course.pk %}">{{ course.title }}<i class="fa fa-info-circle" aria-hidden="true"></i></a></h5>
      <p class="card-text">Description: {{course.description | truncatewords:5}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Code: {{course.code}}</li>
        <li class="list-group-item">School: {{course.school}}</li>
        <li class="list-group-item">Semester: {{course.semester}}</li>
        {% for professor in course.professors.all %}
        <li class="list-group-item">professor: {{professor.username }}</li>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
  {% endfor %}
</div>
{% endif %}

{% if user.is_admin %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="row">
  {% for course in courses %}
  <div class="col-sm-3">

    <div class="card m-4 border border-warning" >
      <button type="button" class="btn btn-primary position-relative w-50">
        Lectures
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{course.lectures.count}}
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
    <img src="{{course.image.url}}" class="card-img-top" alt="course image", width="50%", height="200vh">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'course_detail' course.pk %}">{{ course.title }}<i class="fa fa-info-circle" aria-hidden="true"></i></a></h5>
      <p class="card-text">Description: {{course.description | truncatewords:5 }}</p>
    </div>
    <ul class="list-group list-group-flush border border-primary">
      <li class="list-group-item border border-warning">Code: {{course.code}}</li>
      <li class="list-group-item border border-info">School: {{course.school}}</li>
      <li class="list-group-item border border-success">Semester: {{course.semester}}</li>
      {% for professor in course.professors.all %}
      <li class="list-group-item border border-primary">Professor: {{professor.username }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
    {% endfor %}
</div>

{% endif %}

{% if user.is_professor %}
<div class="row">
  {% for course in courses %}
  <div class="col-sm-3">
    <div class="card m-4 border border-warning" >
      <button type="button" class="btn btn-primary position-relative w-50">
        Lectures
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{course.lectures.count}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
        <img src="{{course.image.url}}" class="card-img-top" alt="course image", width="50%", height="200vh">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'course_detail' course.pk %}">{{ course.title }}<i class="fa fa-info-circle" aria-hidden="true"></i></a></h5>
          <p class="card-text">Description: {{course.description | truncatewords:5 }}</p>
        </div>
        <ul class="list-group list-group-flush border border-primary">
          <li class="list-group-item">Code: {{course.code}}</li>
          <li class="list-group-item">Schoo: {{course.school}}</li>
          <l class="list-group-item">Semester: {{course.semester}}</li>
          {% for professor in course.professors.all %}
          <li class="list-group-item">Professor: {{professor.username }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
      {% endfor %}
  </div>
{% endif %}

{% if user.is_student %}
<div class="row">
{% for course in courses %}
<div class="col-sm-3">
<div class="card m-4 border border-warning" >
  <button type="button" class="btn btn-primary position-relative w-50">
    Lectures
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      {{course.lectures.count}}
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
    <img src="{{course.image.url}}" class="card-img-top" alt="course image" width="50%" height="200vh">
    <div class="card-body">
      <h5 class="card-title">Title: {{ course.title }}</h5>
      <p class="card-text">Description: {{course.description | truncatewords:5 }}</p>
    </div>
    <ul class="list-group list-group-flush border border-primary">
      <li class="list-group-item">Code: {{course.code}}</li>
      <li class="list-group-item">School: {{course.school}}</li>
      <li class="list-group-item">Semester: {{course.semester}}</li>
      {% for professor in course.professors.all %}
      <li class="list-group-item">Professor: {{professor.username }}</li>
      {% endfor %}
    </ul>
    <div class="card-body">
      <a href="{% url 'enroll_course' course.id %}" class="btn btn-primary">Enroll</a>
    </div>
</div>
</div>
 {% endfor %}
</div>
{% endif %}



{% endblock content %}
