
{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href=" {% url 'dashboard' %}">Dashbroad/a></li>
      <li class="breadcrumb-item"><a href="{% url 'course_list' %}">course list</a></li>
      <li class="breadcrumb-item"><a href="{% url 'course_detail' course.pk %}">course detail</a></li>
  
      <li class="breadcrumb-item active" aria-current="page">create or update</li>
    </ol>
  </nav>

<h2>Update Course</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Save</button>
</form>
{% endblock content %}
