{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'course_list' %}">course list</a></li>

    <li class="breadcrumb-item active" aria-current="page">course detail</li>
  </ol>
</nav>

{% if messages %}
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger" style="width: 50%;  margin: auto;">
            {{ message }}
        </div>
    {%else %}
        <div class="alert alert-{{ message.tags }}" style="width: 50%;  margin: auto;">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if user.is_superuser %}
<p> <a href="{% url 'course_create'%}"><i class="fa fa-plus" aria-hidden="true"></i></a></p>

<div class="card m-4" style="width: 18rem;">
    <img src="{{course.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ course.title }}</h5>
      <p class="card-text">{{course.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{course.code}}</li>
      <li class="list-group-item">{{course.school}}</li>
      {% for professor in course.professors.all %}
      <li class="list-group-item">{{professor.username }}</li>
      {% endfor %}
    </ul>
    <div class="card-body">
        <a href="{% url 'course_edit' course.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="{% url 'course_delete' course.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </div>
  </div>

{% endif %}

{% if user.is_admin %}

<div class="card m-4" style="width: 18rem;">
    <img src="{{course.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ course.title }}</h5>
      <p class="card-text">{{course.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{course.code}}</li>
      <li class="list-group-item">{{course.school}}</li>
      {% for professor in course.professors.all %}
      <li class="list-group-item">{{professor.username }}</li>
      {% endfor %}
    </ul>
    <div class="card-body">
        <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Course Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form | crispy }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> -->
            </div>
          </div>
        </div>
        <a href="{% url 'course_delete' course.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </div>
  </div>

{% endif %}

{% endblock content %}
